
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <div class="modal-title"></div>
          </div>
          <div class="modal-body">
            <p id="note">Notes</p>
            <div class="input"></div>
          </div>
        
        </div>
      </div>
    </div>



  <div class="container">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Mongo Scraper</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/saving">Saved Posts</a>
            </li>
          </ul>


        </div>
      </nav>


      <div class="jumbotron text-center">
        <h1>Saved Posts</h1>
      </div>


      <div class="row" id="posts">
      </div>


  </div>




    <script src="saved.js"></script>
